**/import/
**/null/
**/tmp/
**/shared/
**/user/
**/.ssh
**/.settings/
**/generated/
**/.gradle/
**/.cache/
**/.metadata/
**/.vscode/
**/.npm-cache/
**/node_modules/
**/.idea/
**/.m2/
**/logs/
**/*.log
**/*.iml
**/*.lck
**/*.sar
**/*.tgz
**/*.classpath
**/*.project
**/dependency.*
**/dependency_plugins.*
**/dist
**/.idea
**/yarn.lock
**/.DS_Store
**/.npmrc
**/.nyc_output
**/test-reports/
**/kafka*.txt
**/*versions.txt
.zsh_history
.zshrc
setup.sh
/nohup.out
logs/
